.imperioClass {
    background-color: red;
   
}
.rebeldesClass {
    background-color: blue;
}
#DearthId {
    font-size: 200%;
}
#LukeId {
    font-style: italic;
}
li.soldadosClass{
    border-color:black;
    border-width: medium;
    border-style: dashed;
    letter-spacing: initial;
}

li.unidadesClass{
    text-align: start;
}
.navesClass{
    font-weight: bolder;
    text-transform: uppercase;
}
#imperio *{ 
    
    background-color: black;
    color: red;"
}
#rebeldes *{
    background-color: #ffa500;
    color: rgb(255, 255,255);
}
#originales {
    color: snow;
}
